body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }


  .Clock {
    font-size: 5em;
    color: azure;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px azure;
  }


  footer h2{
    text-align: center;
    color: azure;
    border-radius: 10px;
  }